# Data Science Tools and Ecosystem

Data Science Tools and Ecosystem

**Objectives:**
* List popular languages of Data Science
* List commonly used libraries by Data Scientists
* Name the most used environment open-source tools used in Data Science
* Show examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib
5. PyTorch
6. Scikit-learn
7. TensorFlow
8. Keras
9. Seaborn
10. ggplot2

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Google Colab|
|RStudio IDE|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to multiply then add integers
3*4+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
def min_to_sec(m):
    h = int(m)//60
    m = int(m)%60
    return h,m 
mtos = min_to_sec(200)
print("There are", mtos[0], "hours and", mtos[1], "minutes in 200 minutes")

There are 3 hours and 20 minutes in 200 minutes

## Author
Sandra Sazdovska